.body{
    /* Default Font */
    font-family: montserrat;
}
/* Hide the Services cards on scroll */
.Servicescards::-webkit-scrollbar {
    height: 8px;
    background: rgb(255, 255, 255); 
    /* background: transparent; make scrollbar transparent */
}

.Servicescards::-webkit-scrollbar-thumb:hover {
    background: #4e4e4e; 
}
.Servicescards{
    height: 278px;
}

 ::-webkit-scrollbar-thumb {
    background: #777777; 
    border-radius: 10px; 
 }
  

 .Swiper::-webkit-scrollbar {
    height: 8px;
    background: rgb(255, 255, 255); 
    /* background: transparent; make scrollbar transparent */
}
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #777777; 
    width: 20px; */
  
@media only screen and (max-width: 640px) {
    .InteriorSection {
        height: 350px;
    }
}   

@media screen and (min-width: 1400px) {
    .InteriorSection {
        height: 500px;
    }
  }